@tailwind base;
@tailwind components;
@tailwind utilities;

/* general resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: inherit;
  background-color: #030c21;
  color: #f2f2f2;
}

ul,
li {
  list-style: none;
}

button,
a {
  cursor: pointer;
}


